/* body {
    margin: 0px;
    font-family: sans-serif, 'Segoe UI', Roboto;
    display: grid;
    grid-template-rows: 15% 55% 30%;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:"header header header"
                        ". content . "
                        "footer footer footer";
}

#main-header {
    display: grid;
    height: 100%;
    background-color: red;
    grid-template-columns: 30% 70%;
    grid-area: header;
}
 */
